@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais extras */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #020617; /* Slate 950 */
  color: #f8fafc; /* Slate 50 */
  overflow: hidden;
}

/* Custom Scrollbar for the mockups */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 2px;
}